// Colores
$bg-color: #6e52ec;
$accent-color: #00ffc3;
$text-color: #ffffff;

// Tipografía
$font-main: "Times New Roman", Times, serif;

// Espaciados base (para usar operadores matemáticos luego)
$base-padding: 10px;

// Breakpoints para el Responsive
$bp-tablet: 768px;
$bp-desktop: 1024px;